<aside>
  <nav>
    <ul>
      <li><%= link_to 'Archive', '/archive/', title: 'Previous essays.' %></a></li>
      <li><%= link_to 'Projects', '/projects/', title: 'Projects I build, including books and games.' %></a></li>
      <li><%= link_to 'Contact', '/contact/', title: 'Contact Makzan.' %></a></li>
      <li><%= link_to 'RSS Feed', '/feed.xml', title: 'Syndicated Feed.' %></a></li>
    </ul>
  </nav>
</aside>