---
title: Archive
---

<h1>Previously, by makzan.</h1>

<ol class='article-list'>
  <% blog.articles[0...20].each do |article| %>
    <li><time><%= article.date.strftime('%b %d ') %></time> <%= link_to article.title, article %></li>
  <% end %>
</ol>

<p><%= link_to 'List all articles', '/all/' %></p>

<h2>By Tags</h2>
<ol class='article-list'>
  <% blog.tags.each do |tag, articles| %>
    <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
  <% end %>
</ol>


<p>Syndicated Feed: <a href='/feed.xml'>RSS</a></p>