<h1>Today’s thoughts</h1>

<% page_articles.each_with_index do |article, i| %>
  <% if article.date.to_date === Date.today %>
    <h2><%= link_to article.title, article %></h2>
    <p><%= article.body %></p>
  <% end %>
<% end %>

<h1>Previous thoughts</h1>

<% page_articles.each_with_index do |article, i| %>
  <% if article.date.to_date === Date.today.prev_day %>
    <h2><%= link_to article.title, article %></h2>
    <p><%= article.body %></p>
  <% end %>
<% end %>
