<h1>Today’s thoughts</h1>

<% page_articles.each_with_index do |article, i| %>
  <% if article.date.to_date === Date.today %>
    <% @has_today_post = true %>
    <h2><%= link_to article.title, article %></h2>
    <p><%= article.body %></p>
  <% end %>
<% end %>

<% unless @has_today_post %>
  <p>There’s no post today.</p>

  <h1>Previous thoughts</h1>
  <% page_articles[0..0].each_with_index do |article, i| %>
    <h2><%= link_to article.title, article %></h2>
    <p><%= article.body %></p>
  <% end %>
<% end %>